<nav class="navbar navbar-expand-sm bg-dark sticky-top">
    <a class="navbar-brand text-success" href="#">Project Report Generator</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link text-info" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-info" href="/create-report">Create Report</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-info" href="/">Walkthrough</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-info" href="/">Contact</a>
        </li>
    </ul>
</nav>