<div class="container page">
    <div class="inner-container text-center">
        <h1 class="font-weight-bolder">ABSTRACT</h1>
        <div id="project-abstract">
            <p>
                <%= details["project-abstract"] %>
            </p>
        </div>
        <div class="roman-page-number">
            <h4>ii</h4>
        </div>
    </div>
</div>