<div class="container page">
    <div class="inner-container text-center">
        <h1 class="font-weight-bolder">ACKNOWLEDGEMENTS</h1>

        <div>
            <p class="content">
                With utmost joy and satisfaction, we submit this Project Report on “<span class="text-uppercase font-weight-bolder"><%= details["project-title"] %></span>”. This has been completed as a part of the curriculum of Visvesvaraya
                Technological University. <br><br>
                The satisfaction that accompanies the successful completion of our project would be
                incomplete without mentioning the people who made it possible, whose constant guidance and
                encouragement crowns all the efforts with success. <br><br>
                We take immense pleasure in thanking Dr. Mrityunjaya V Latte, Principal, JSSATE, Bengaluru,
                for being kind enough to provide us with an opportunity to work the Project in this institution. <br><br>
                We are also thankful to <%= `${details["honorific-hod"]} ${details["department-head"]}` %>, Professor and Head of Department of Computer
                Science and Engineering, for his co-operation and encouragement at all moments of approach.
                We are thankful to our coordinators, <%= `${details["honorific-coordinator-1"]} ${details["coordinator-1"]} and ${details["honorific-coordinator-2"]} ${details["coordinator-2"]}` %>, for their cooperation and support. <br><br>
                We are thankful to our Project guide Mr. Renuka Rajendra, Professor, for his constant support
                and encouragement. <br><br>
                We wish to thank every teaching and non-teaching faculty of out department for always being
                there to support and guide us.
            </p>
        </div>

        <div style="position: absolute; right: 5%; bottom: 10%; text-align: left;">
            <%for(i of [1, 2, 3, 4]) { %>
                <h4 class="text-uppercase font-weight-bolder"><%= `${details["member-" + i]} (${details["member-" + i + "-usn"]})` %></h4>
            <% } %>
        </div>
        
        <div class="roman-page-number">
            <h4>iii</h4>
        </div>
    </div>
</div>